{% extends 'myapp/header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td{
			padding: 5px;
			background-color: skyblue;
			
		}
		h3{
			color: red;
		}
	</style>
</head>
<body>
	<center>
		{% if msg %}
		{{msg}}
		{% endif %}
			</center>
	<center><h3><b><u>Change Password</u></b></center>
	<center>
	<form name="change_password" method="POST" action="{% url 'change_password' %}">
		{% csrf_token %}
	<table>
		
		<tr>
			<td><b>Old Password</b></td>
			<td><input type="password" name="opassword"></td>
		</tr>
		<tr>
			<td><b>New Password</b></td>
			<td><input type="password" name="npassword"></td>
		</tr>

		<tr>
			<td><b>Confirm New Password</b></td>
			<td><input type="password" name="cnpassword"></td>
		</tr>


		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="submit">
			</td>
		</tr>

	</table>	



	</form>
	</center>
{% endblock %}
</body>
</html>