{% extends 'myapp/header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td{
			padding: 5px;
			background-color: skyblue;
			
		}
		h3{
			color: red;
		}
	</style>
</head>
<body>
	<center>
		{% if msg %}
		{{msg}}
		{% endif %}
			</center>
	<center><h3><b><u>Verify OTP</u></b></center>
	<center>
	<form name="verify_otp" method="POST" action="{% url 'verify_otp' %}">
		{% csrf_token %}
	<table>
		<tr>
			<td><b>Enter OTP</b></td>
			<td><input type="text" name="u_otp"></td>
		</tr>

		<tr>
			<td><input type="text" value="{{otp}}" name="otp"></td>
			<td><input type="hidden" value="{{email}}" name="email"></td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="submit">
			</td>
		</tr>

	</table>	



	</form>
	</center>
{% endblock %}
</body>
</html>